body {
  font-family: Arial;
  font-size: 17px;
  background-image:url('https://digiex.net/attachments/xperience-background-5-png.14160/');
  background-size:cover;
    background-attachment: fixed;
  background-repeat: no-repeat;
}


#voltage {
  background-color: azure;
  color: black;
  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 3px 1px;
  cursor: auto;
  border-radius: 5px;
  padding: 10px;
}

form label {
  color: aliceblue;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

.button {
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

button {
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.video {
  width: 550px;
  height: 550px;
  border-radius: 20px;
  margin-left: 20px;
}

.actives {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-left: 1px solid #bbb;
  float:right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgba(37, 34, 39, 0.004);
  font-family: "Sofia", sans-serif;
  font-size: 20px;
}
#timer {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size:50px;
  text-decoration: none;
}